.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}
.flists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.flistitem{
    list-style: none;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    color: blue;
}
.fcopyright{
    background-color: blue;
    color: white;
    height: 50px;
}